.left-panel, .right-panel{
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.left-panel{
	width: 28%;
	margin-left: -2px;
}

.right-panel{
	border-left: 2px solid #e4f0f7;
	padding-bottom: 55px;
	width: 72%;
	text-align: center;
}

.profile-sub-head{
	color: #a4adb3;
	font-size: 10pt;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	border-top: 1px solid #dceaf3;
	margin-top: 24px;
	padding-top: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-name{
	text-align: center;
	margin-top: 23px;
	font-weight: 400;
	color: #50565a;
	font-size: 18pt;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;	
}

.user-id{
	text-align: center;
	color: #baceda;
	font-size: 9pt;
	text-decoration: underline;
	font-weight: 300;
	margin-top: 8px;
	text-overflow: ellipsis;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	white-space: nowrap;	
}

.user-image{
	width: 35%;
	display: block;
	margin: auto;
	border-radius: 100%;
	margin-top: 25px;
}

.user-change-image{
	display: block;	
	text-align: center;
	font-weight: 400;
	font-size: 9pt;
	color: #9fabb3;
	text-decoration: underline;	
	margin-top: 10px;
	cursor: pointer;
	transition: color 0.3s;
}

.image-panel-change:hover{
	color: #444;
}

.user-funds{
	text-align: center;
	font-family: PT Sans Narrow;
	font-size: 22pt;
	margin-top: 20px;
	color: #575757;
	font-weight: 300;
}

#withdraw-funds{
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 70%;
	min-width: 100px;
	padding: 0px;
}

#user-pools-head{
	margin-top: 0px;
	border-top: none;
}

.info-head{
	text-align: center;
	margin-top: 30px;
	font-weight: 400;
	font-weight: 400;
	color: #484848;
	font-size: 18pt;
}

#create-pool{
	display: block;
	margin: auto;
	margin-top: 35px;
}

#investments-info-head span{
	font-weight: 500;
}

.ui-pool{
	display: inline-block;
	margin-top: 45px;
	margin-left: 20px;
	margin-right: 20px;
}

#pool-2 .ui-pool-name{
	color: #fa6f5e;
}

#pool-2 .ui-pool-image{
	background-image: url("../img/defaultBillboard2.png");
}

#make-investment{
	display: block;
	margin: auto;
	margin-top: 50px;
}